body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.facebook{
  margin-top: 100px;
  border: solid 2px;
  width: fit-content;
  margin-left: 100px;
  border-radius: 3px;
  box-shadow: 0 1px 5px 1px rgb(71, 8, 174);
}
.show-info{
  width: fit-content;
  margin-left: 100px;
  margin-top: 20px;
  border: solid 2px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 3px 0 black;
}